@fleetbase:registry=https://registry.fleetbase.io
//registry.fleetbase.io/:_authToken=OWIwNWQ0MDBiNTRhZGY0NjY0Yzk2ZTE3MTlhNGI0MDI6MmI2NTNmODJlYWE1NDJjMThkYzQ5NjI5MGFlZTc4ZTAzOWNkZDcyNjBmMTNiYjg2NzEyYmFkMzIwYzhm
